body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
}

.site-header {
    background-color: #ffeb3b;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #ff5722 !important;
}

.nav-link {
    color: #ff5722 !important;
    font-size: 18px;
    margin-right: 10px;
}

.nav-link:hover {
    color: #d84315 !important;
}

.site-footer {
    background-color: #ffeb3b;
    padding: 20px 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.site-footer p {
    margin: 0;
    color: #ff5722;
    font-size: 16px;
}

.versiculo input[type="checkbox"]:checked + span {
    background-color: #d9edf7;
}

